@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  font-weight: 400;
}

body {
  overflow: hidden;
  background: rgb(0, 147, 85);
  background: linear-gradient(
    0deg,
    rgba(0, 147, 85, 0.5074404761904762) 0%,
    rgba(255, 255, 255, 0) 43%
  );
}

.medium {
  font-family: aMedium;
}

.regular {
  font-family: aRegular;
}

.bold {
  font-family: aBold;
}

.light {
  font-family: aLight;
}

.thin {
  font-family: aThin;
}

#app {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* Box Model */
  margin: 0 auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 90vw;

  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

#section {
  /* Display */
  /* Box Model */
  width: 80%;

  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

/* --- COUNTDOWN DE DEBUT DE PARTIE --- */

#start-countdown-container {
  /* Display */
  display: none;

  /* Box Model */

  /* Positionnement */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  /* Typographie */
  font-size: 5rem;
  font-family: aRegular;

  /* Couleur */
  /* Animation */
}

#start-countdown-container.visible {
  /* Display */
  /* On passe de "none" à "block" lorsque l'élément reçoit la classe .visible */
  display: block;

  /* Box Model */
  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

/* --- QUESTIONS, MESSAGES DE BIENVENUE ET DE FIN DE PARTIE --- */

#question {
  /* Display */
  z-index: 1;
  /* Box Model */
  margin: 0 0 2rem 0;

  /* Positionnement */

  /* Typographie */
  font-size: 5vmin;
  text-align: center;

  /* Couleur */
  color: var(--noir);

  /* Animation */
}

#question.hidden {
  /* Display */
  /* On passe de "block" à "none" lorsque l'élément reçoit la classe .hidden */
  display: none;

  /* Box Model */
  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

/* --- RÉPONSES --- */

#answers-container {
  /* Display */

  /* Box Model */
  width: 75%;

  /* Positionnement */
  /* Typographie */
  text-align: center;
  /* Couleur */
  /* Animation */
}

/* --- TIMER DE QUESTION --- */

.answer-archive {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 0;
  translate: 0px 7px;
}

.pate-archive {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

#timer-container {
  /* Display */
  display: none;
  align-items: center;
  justify-content: center;

  /* Box Model */
  max-height: 100px;
  margin-bottom: 3rem;
  width: 300px;

  /* Positionnement */

  position: relative;
  /* top: 10%; */
  /* Typographie */

  /* Couleur */
  color: var(--noir);

  /* Animation */
}

#timer-container.visible {
  /* Display */
  /* On passe de "none" à "flex" lorsque l'élément reçoit la classe .visible */
  display: flex;

  /* Box Model */
  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

#timer-pate {
  width: 100px;
  height: 100px;
}

#timer-container p {
  /* Display */

  /* Box Model */
  margin: 0;

  /* Positionnement */
  position: absolute;

  /* Typographie */
  font-size: 2rem;
  text-align: center;
  /* Couleur */
  color: #ffffff;
  /* Animation */
}

/* --- BOUTONS --- */

.button {
  /* Display */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Box Model */
  border-radius: 40px;
  /*box-shadow: var(--shadow-elevation-high);*/
  margin: 0 0 5vmin 0;
  padding: 0.8rem;
  /*border-style: double;
  border-width: 2px;
  border-color: var(--);*/

  /* Positionnement */

  /* Typographie */
  font-family: aMedium;
  /* Couleur */
  background-color: #c487514d;
  color: #231000;
  /* Animation */
  animation: grow 0.5s ease-in-out;
  transition: background-color 0.2s ease-in-out;

  /* Autres propriétés */
  cursor: pointer;
}

.button.correct {
  /* Display */
  /* Box Model */
  /* Positionnement */
  /* Typographie */

  /* Couleur */
  background-color: var(--vert);

  /* Animation */
}

.button.wrong {
  /* Display */
  /* Box Model */
  /* Positionnement */
  /* Typographie */

  /* Couleur */
  background-color: var(--rose);
  border-color: var(--rose);

  /* Animation */
}

#start-button.hidden {
  /* Display */
  display: none;

  /* Box Model */
  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

#restart-button {
  /* Display */
  display: none;

  /* Box Model */
  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

#restart-button.visible {
  /* Display */
  display: block;

  /* Box Model */
  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

/* --- PANEAUX DE RÉPONSE --- */

#answer-panel-container {
  /* Display */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Box Model */
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  width: 100%;

  /* Positionnement */
  position: absolute;

  /* Typographie */
  text-align: center;

  /* Couleur */
  background: rgba(50, 50, 50, 0.5);

  /* Animation */
  transition: opacity 0.3s ease-in-out;
}

h1 {
  color: var(--vert);
}

#answer-panel-container.visible {
  /* Display */

  /* Box Model */
  opacity: 1;
  visibility: visible;

  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

#answer-panel {
  /* Display */

  /* Box Model */
  border-radius: 20%;
  padding: 1.5rem;
  width: 80%;

  /* Positionnement */
  /* Typographie */

  /* Couleur */
  background: var(--blanc);

  /* Animation */
}

.bad {
  border-color: var(--rose);
}

.cool {
  border-color: var(--vert);
}

#answer-panel p {
  /* Display */

  /* Box Model */
  margin-bottom: 2rem;
  margin-top: 2rem;

  /* Positionnement */
  /* Typographie */
  /* Couleur */
  /* Animation */
}

.vidnul {
  content: url("./img/anime_pâté_nul.gif");
}

.end-image {
  display: none;
}
