@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  overflow: hidden;
}

#app {
  margin: 0 auto;
  display: flex;
  font-family: sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
}

section {
  width: 80%;
}

#question {
  margin: 0 0 2rem 0;
  text-align: center;
}

#timer-container {
  align-items: center;
  background: #000000;
  border-radius: 50%;
  display: none;
  justify-content: center;
  height: 100px;
  margin-bottom: 2rem;
  width: 100px;
  animation: grow 0.5s  ease-in-out;

}

#timer-container p {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}


#restart-button {
  display: none;
}



.button {
  align-items: center;
  animation: grow 0.5s ease-in-out;
  background-color: #000000;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  margin: 0 0 2rem 0;
  padding: 1rem;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.button.correct {
  background-color: green;
}

.button.wrong {
  background-color: red;
}
