@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  background: var(--blanc);
  overflow: hidden;
}

#app {
  margin: 0 auto;
  display: flex;
  font-family: sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
}

#start-countdown-container {
  display: none;
  left: 50%;
  font-size: 5rem;
  font-weight: 800;
  position: fixed;
  transform: translateX(-50%);
}

#start-countdown-container.visible {
  display: block;
}

#section {
  width: 80%;
}

#question {
  color: var(--noir);
  font-size: 1.75rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

#question.hidden {
  display: none;
}

#answers-container div {
  min-width: 50vw;
  max-width: 100%;
}

#timer-container {
  align-items: center;
  background: var(--blanc);
  box-shadow: var(--shadow-elevation-high);
  border-radius: 50%;
  color: var(--noir);
  display: none;
  justify-content: center;
  height: 100px;
  margin-bottom: 2rem;
  width: 100px;
}

#timer-container.visible {
  display: flex;
}

#timer-container p {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

#start-button.hidden {
  display: none;
}

#restart-button {
  display: none;
}

#restart-button.visible {
  display: block;
}

#answer-panel-container {
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  display: flex;
  visibility: hidden;
  font-weight: 800;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  width: 100vw;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

#answer-panel-container.visible {
  visibility: visible;
  opacity: 1;
}

#answer-panel {
  background: var(--blanc);
  border-radius: 15px;
  box-shadow: var(--shadow-elevation-high);
  max-height: auto;
  width: 80vw;
  padding: 1.5rem;
}

#answer-panel p {
  margin-bottom: 2rem;
}

.button {
  align-items: center;
  animation: grow 0.5s ease-in-out;
  background: var(--blanc);
  box-shadow: var(--shadow-elevation-high);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-weight: 800;
  margin: 0 0 2rem 0;
  padding: 1rem;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.button.correct {
  background-color: var(--vert);
}

.button.wrong {
  background-color: var(--rose);
}
